@using VisaNet.Common.Resource.Presentation
@model VisaNet.Presentation.Administration.Models.CustomerSiteCommerceModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portal de Comercio - Ver Comercio</h2>

<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-6">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(b => b.Name, new { @class = "obligatoryField" }) *
                    @Html.TextBoxFor(b => b.Name, new { @class = "form-control", @disabled = "disabled" })
                </div>
                @Html.ValidationMessageFor(s => s.Name)
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(s => s.ServiceId, new { @class = "obligatoryField" }) *
                    <div class="selectMask w100 selectMultiple">
                        @Html.DropDownListFor(m => m.ServiceId, (IEnumerable<SelectListItem>)ViewBag.ServicesLigthList, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    @Html.ValidationMessageFor(s => s.ServiceId)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(s => s.ContactEmail)
                    @Html.TextBoxFor(s => s.ContactEmail, new { @class = "form-control", @disabled = "disabled" })
                </div>
                @Html.ValidationMessageFor(s => s.ContactEmail)
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(s => s.ContactAddress)
                    @Html.TextBoxFor(s => s.ContactAddress, new { @class = "form-control", @disabled = "disabled" })
                </div>
                @Html.ValidationMessageFor(s => s.ContactAddress)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(s => s.ContactPhoneNumber)
                    @Html.TextBoxFor(s => s.ContactPhoneNumber, new { @class = "form-control", @disabled = "disabled" })
                </div>
                @Html.ValidationMessageFor(s => s.ContactPhoneNumber)
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(s => s.ImageName)
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <a href="@Model.ImageUrl" target="_blank"> VER </a>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a href="@Url.Action("Index", "CustomerSiteCommerce")" class="btn btn-default btn-cancel">Volver </a>
            </div>
        </div>
    </div>
</div>