@using VisaNet.Common.Resource.Presentation
<div id="lbCancelPayment" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-5">
                        <a class="brandVisaNet fLeft" href="/"> </a>
                    </div>
                    <div class="col-xs-6"><a class="brandVisa fRight"></a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">@PresentationWebStrings.Service_Edit_Cancel</h4>
                <h4>@PresentationWebStrings.Service_Edit_Cancel_Question</h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 p5r">
                        <a href="@Url.Action("CancelAssosiation")" type="button" class="btn btn-default btn-cancelar w100">@PresentationWebStrings.Yes <i class="icon-remove"></i></a>
                    </div>
                    <div class="col-xs-6 p5l">
                        <button type="button" class="btn btn-default btn-siguiente w100" data-dismiss="modal">@PresentationWebStrings.No <i class="icon-chevron-sign-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
