@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisaNet - Registro</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/thirdparty/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/thirdparty/css/toastr.css" />
    @Styles.Render("~/CustomStyles")

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Scripts.Render("~/ThirdpartyScripts")
    @Scripts.Render("~/CustomScripts")
</head>

<body>
    @RenderBody()

    @Html.Partial("_Notifications")
    @RenderSection("scripts", required: false)
</body>
</html>