@using VisaNet.Common.Resource.Presentation

<div id="lbMigrationTestFail" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-5">
                        <a class="brandVisaNet fLeft" href="/"> </a>
                    </div>
                    <div class="col-xs-6"><a class="brandVisa fRight"></a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">@PresentationWebStrings.Migration_Test_Fail_Title <span id="deleteCardMask"></span></h4>
                <ul id="failedServices" class="list-inline"></ul>
                <h4 id="continue">@PresentationWebStrings.Migration_Test_Fail_Message</h4>
                <h4 id="addNewCard">@PresentationWebStrings.Migration_Test_Fail_Add_Card</h4>
                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 p5r">
                        <button type="button" class="btn btn-default btn-cancelar w100" data-dismiss="modal">@PresentationWebStrings.Cancel <i class="icon-remove"></i></button>
                    </div>
                    <div class="col-xs-6 p5l">
                        <button id="btnConfirmMigrate" type="button" class="btn btn-default btn-siguiente w100" data-dismiss="modal">@PresentationWebStrings.Migrate <i class="icon-chevron-sign-right"></i></button>
                        <a id="btnAddNewCard" href="@Url.Action("AddCard","Card")" class="btn btn-default btn-siguiente w100">@PresentationWebStrings.Add_Card <i class="icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>