@using VisaNet.Common.Resource.Presentation
@using VisaNet.Common.Security.Entities.Enums
@using VisaNet.Presentation.Administration.MvcHtmlHelpers
@model VisaNet.Presentation.Administration.Models.ChangeWebUserPasswordModel

<div id="lbChangePassword" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    @PresentationAdminStrings.ChangePassword
                </h4>
            </div>
        
            <div class="modal-body">
                @using (Html.BeginForm("ChangePassword", "ReportsUser", FormMethod.Post, new { id = "changePasswordForm", @Class = "form-horizontal" }))
                {

                    @Html.HiddenFor(p => p.UserId)
                    <div class="form-group">
                        @Html.LabelFor(p => p.NewPassword, new { @Class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(p => p.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => p.ConfirmPassword, new { @Class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(p => p.ConfirmPassword)
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                @Html.ActionActionLink(Actions.ReportsUsersChangePassword, PresentationAdminStrings.Save, new Dictionary<string, object> { { "Class", "btn btn-success" }, { "id", "lbChangePasswordSave" } })
                <a href="#" class="btn" id="lnkAccept" data-dismiss="modal">@PresentationAdminStrings.Back</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#lbChangePasswordSave").click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass("disabled")) {
                showBlockUI("Cambiando contraseña");
                var url = $("#changePasswordForm").attr("action");
                $.post(url, $("#changePasswordForm").serialize(), function (data) {
                    if (data.ResponseType == RESPONSE.SUCCESS) {
                        $('#lbChangePassword').modal("hide");
                        ShowNotification(data.Title, data.Message, 'success');
                    }
                    if (data.ResponseType == RESPONSE.ERROR) {
                        ShowNotification(data.Title, data.Message, 'error');
                    }
                    hideBlockUI();
                }).fail(function () {
                    hideBlockUI();
                    window.location.replace('@Url.Action("Index", "Error")');
                });
            }
        });
    });
</script>
