@using VisaNet.Common.Resource.Presentation
@model Dictionary<string, string>

<form method="POST" action="@ViewBag.RedirecTo" id="formid">
    @foreach (var key in Model)
    {
        <input id="@key.Key" name="@key.Key" value="@key.Value" class="hidden" />
    }
</form>

<script>
    $(document).ready(function () {
        showLoaderFullScreen("@PresentationWebStrings.Loader_Processing_Payment");
        $("#formid").submit();
    });
</script>