@using VisaNet.Common.Logging.Entities
@using VisaNet.Common.Resource.Enums
@using VisaNet.Common.Resource.Helpers
@model IEnumerable<VisaNet.Presentation.Web.Areas.CallCenter.Models.CallCenterLogModel>


<div class="pageBox mb20" id="listado">
    <div id="data" class="table-responsive">
        <table id="table" class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.LogType)</th>
                    <th>@Html.DisplayNameFor(model => model.LogUserType)</th>
                    <th>@Html.DisplayNameFor(model => model.LogCommunicationType)</th>
                    <th>@Html.DisplayNameFor(model => model.Message)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr>
                        <th>@log.DateTime</th>
                        <th>@EnumHelpers.GetName(typeof(LogType), (int)log.LogType, EnumsStrings.ResourceManager)</th>
                        <th>@EnumHelpers.GetName(typeof(LogUserType), (int)log.LogUserType, EnumsStrings.ResourceManager)</th>
                        <th>@EnumHelpers.GetName(typeof(LogCommunicationType), (int)log.LogCommunicationType, EnumsStrings.ResourceManager)</th>
                        <th>@log.Message</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

