@using VisaNet.Common.Resource.Presentation
@model VisaNet.Presentation.Web.Models.SetPasswordFromTokenModel

@using (Html.BeginForm("ChangePasswordFromToken", "Account", new { token = Model.Token }, FormMethod.Post, new { @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Token)
    <div class="container p25t">
        <div class="pageBox mb20">
            <div class="formMargin">
                <h4 class="lightBlue">@PresentationCoreMessages.Security_ChangePassword</h4>
                <div class="horizontalLineWhite"></div>
                <!-- campos obligatorios -->
                <h5><i class="icon-exclamation-sign visanetOrangeTxt"></i> @PresentationWebStrings.Required_First_Line <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>@PresentationWebStrings.Required_Second_Line</h5>
                <!-- campos obligatorios -->
                <div class="row">
                    <div class="col-md-6">
                        <label>@PresentationWebStrings.Profile_Email</label>
                        <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)

                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)

                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    </div>
                </div>
            </div>
            <div class="row buttonsActionsBox">
                <div class="col-md-4 pl0 pr0" style="margin-top: 20px;">
                    <div class="col-xs-6 p5l pr0">
                        <input type="submit" class="btn btn-default btn-action mt10 w100" value="@PresentationCoreMessages.Common_Accept" />
                    </div>

                </div>
            </div>
        </div>
    </div>
}