@using System.Configuration
@using VisaNet.Common.Resource.Presentation
@model VisaNet.Presentation.Web.Models.ForgetMyPasswordModel

@using (Html.BeginForm("ForgetMyPassword", "Account", FormMethod.Post, new { id = "frmSubmit", @Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="container p25t">
        <div class="pageBox mb20">
            <div class="formMargin">
                <h4 class="lightBlue">@PresentationCoreMessages.Security_ForgetMyPassword_Title</h4>
                <h5><i class="icon-exclamation-sign visanetOrangeTxt"></i> El campo marcado con un <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>es obligatorio</h5>
                <div class="horizontalLineWhite"></div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })<i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { @class = "w100", @placeholder = PresentationWebStrings.Email_Placeholder, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        @Html.Label(PresentationWebStrings.Captcha_Info) <i class="icon-asterisk visanetOrangeTxt obligatoryField"></i>
                        <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["RecaptchaPublicKey"]"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row buttonsActionsBox">
            <div class="controls btns">
                <div class="col-md-4 pl0 pr0">
                    <button type="submit" id="btnSend" class="btn btn-primary btn-action p25r p25l">@PresentationCoreMessages.Common_Accept</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#frmSubmit").submit(function () {
            if ($("#frmSubmit").valid()) { showLoaderFullScreen(); }
        });
    });
</script>

