@using VisaNet.Common.Resource.Presentation

<form class="form-horizontal">
    <div class="container p25t">
        <div class="pageBox mb20">
            <div class="formMargin">
                <h4 class="lightBlue">@PresentationCoreMessages.Security_ForgetMyPassword_Title</h4>
                <div class="greenBox">
                  <h4> <i class="icon-ok"></i>  @PresentationCoreMessages.Security_ForgetMyPassword_SubTitle</h4>
                    @PresentationCoreMessages.Security_ForgetMyPassword_Desc
                </div>
            </div>
        </div>
        <div class="row buttonsActionsBox">
            <div class="controls btns">
                <div class="col-md-4 pl0 pr0">
                    <a href="@Url.Action("LogIn","Account")" class="btn btn-primary btn-action p25r p25l">@PresentationCoreMessages.Security_LogIn</a>
                </div>
            </div>
        </div>
    </div>
</form>
